numpy
pandas
scipy
scikit-learn
sea-serpent
seaborn
matplotlib
fafbseg
requests
dash
dash-bootstrap-components
fastcluster
neuprint-python
tanglegram @ git+https://github.com/schlegelp/tanglegram@master
clio-py @ git+https://github.com/schlegelp/clio-py@main
